PORT=3000
NODE_ENV="" # production, development, test
MONGODB_USER=""
MONGODB_PASSWORD=""
MONGODB_DATABASE=""
MONGODB_PORT=27017
MONGODB_HOST="localhost"
MONGODB_URI="mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:27017/${MONGODB_DATABASE}?authSource=admin"
RABBITMQ_USER="user"
RABBITMQ_PASSWORD="password"